/* FROM ADOBE FONTS */
/* Condor Typeface for Titles and Bold Headings */
/* Minion Pro Typeface for Body Text */
@import url("https://use.typekit.net/ynf0oki.css");
/* FROM GOOGLE FONTS */
/* Bilbo for Vietnamese Handwriting Feel */
/* Playfair Display Typeface for Small Misc Headings */
@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
;

/* TEMPLATE FOR FAMILY FONT
font-family: minion-pro, serif;
font-family: condor, sans-serif;
font-family: 'Bilbo', cursive;
font-family: 'Playfair Display', serif; */
/* COLOUR */
/* 255,245,236; 0;    200;     255;*/
/* "fff5ec", "181f3a", "c8c8c8", "fff" */
/*  Beige,   black-blue,   gray,   white*/
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html {
  /* Hide overflow-x */
  overflow-x: hidden;
  /* Allow overflow-y to scroll */
  overflow-y: scroll;
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: minion-pro, 'Times New Roman', georgia, serif;
  height: 100%;
  width: 100%;
  background-color: rbga(255, 245, 236, 0.5);
  /* fff5ec with 50% transparency */
}

/* LOGO SETUP */
#logo {
  position: fixed;
  left: 2em;
  top: 1em;
  height: 10%;
  z-index: 100;
  animation: scaleout 1s linear;
  transition: all 1s ease-in-out;
}

/* LOGO IMAGE SETUP */
#logo img {
  width: auto;
  height: 75%;
}

/* NAVIGATION BAR SETUP */
#navbar {
  /* For Safari */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1.6em 0em 0em 0em;
  width: 100%;
  height: 55px;
  z-index: 101;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0);
  /* Create flex container */
  display: flex;
  /* Stack text link horizontally */
  flex-direction: row;
  /* Wrap if necessary */
  /* flex-wrap: wrap; */
  /* Align to left-end on x axis */
  justify-content: flex-end;
  /* Center on y axis */
  align-content: center;
  transition: 0.5s;
}

/* NAVIGATION BAR LINK SETUP */
#navbar a {
  /* For Safari */
  position: -webkit-sticky;
  position: sticky;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  color: #fff5ec;
  transition: all 0.5s;
}

/* NAVIGATION BAR ICON SETUP */
#navbar i {
  padding-right: 1em;
}

/* NAVIGATION BAR DROP DOWN BUTTON */
li a, .dropbtn {
  /* display: inline-block; */
  color: #fff5ec;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

/* NAVIGATION BAR DROP DOWN CONTENT */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff5ec;
  min-width: 160px;
  height: auto;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 105;
}

/* NAVIGATION BAR DROP DOWN LINK */
.dropdown-content a {
  color: #353847;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* SECTION SETUP */
section {
  position: relative;
  background-color: #fff5ec;
  width: 100vw;
}

/* FIRST SECTION SETUP */
#s1 {
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* FIRST SECTION HEADING 1 SETUP */
#s1 h1 {
  font-family: bilbo, cursive;
  font-size: 100px;
  font-weight: lighter;
  color: #fff5ec;
  line-height: 0.35;
  text-align: center;
  text-align-last: left;
  padding-right: 1.125em;
}

/* FIRST SECTION (center) SETUP */
#s1-5 {
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FIRST SECTION HEADING 1 (on 1 line) SETUP */
#s1-5 h1 {
  font-family: bilbo, cursive;
  font-size: 100px;
  font-weight: lighter;
  color: #fff5ec;
  line-height: 0.35;
  text-align: center;
}

/* CONTENT SETUP (3 COLUMNS) */
.multi {
  /* For Chrome, Safari, Opera */
  -webkit-column-count: 3;
  /* For Firefox */
  -moz-column-count: 3;
  column-count: 3;
}

/* CONTENT TEXT SETUP (3 COLUMNS) */
.multi p {
  margin-bottom: 15px;
}

/* CONTENT SETUP (2 COLUMNS) */
.multii {
  /* For Chrome, Safari, Opera */
  -webkit-column-count: 2;
  /* For Firefox */
  -moz-column-count: 2;
  column-count: 2;
}

/* TEXT CONTENT SETUP (2 COLUMNS) */
.multii p {
  margin-bottom: 15px;
}

/* TEXT ALIGNMENT SETUP */
.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/* SECTION HEADLINE SETUP */
#headline1 {
  padding: 2em 6em 0 6em;
  display: grid;
}

/* SECTION HEADLINE HEADING 1 SETUP */
#headline1 h1 {
  font-family: condor, sans-serif;
  font-size: 30px;
  line-height: 1em;
  color: #181f3a;
}

/* SECOND SECTION SETUP */
#s2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

/* SECOND SECTION ARTICLE SETUP */
#s2 article {
  margin: 0 4em 0 4em;
  padding: 0 2em 0 2em;
}

/* SECTION HEADLINE HEADING 1 SETUP */
#s2 h1 {
  font-family: condor, sans-serif;
  font-size: 30px;
  line-height: 1em;
  color: #181f3a;
}

/* SECOND SECTION TEXT SETUP */
#s2 p {
  font-size: 14px;
  padding: 0 0.75em 0 0.75em;
}

/* SECOND SECTION IMAGE SETUP */
#s2 img {
  display: block;
  margin-left: none;
  margin-right: auto;
}

/* IMAGE SIZE SETUP */
#pic-width1 {
  width: 375px;
}

#pic-width2 {
  width: 455px;
}

#pic-height {
  height: 380px;
}

/* THIRD SECTION SETUP */
#s3 {
  width: 100vw;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* THIRD SECTION ARTICLE SETUP */
/* #s3 article {
  margin: 20px;
  height: 300px;
  position: relative;
  flex: 1 auto;
}

#s3 article div {
  background: #fff;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-style: italic;
  color: #181f3a;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0 0 10px 10px;
} */
/* THIRD SECTION IMG SETUP */
#s3 img {
  padding: 1em 2em 0 2em;
}

/* THIRD SECTION LINK SETUP */
#s3 a, #s3 a:visited {
  color: #181f3a;
  text-decoration: none;
}

/* THIRD SECTION HEADING 1 SETUP */
#s3 h1 {
  font-family: condor, sans-serif;
  font-size: 30px;
  font-weight: lighter;
  /* line-height: 0.35; */
  text-align: left;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

/* THIRD SECTION HEADING 2 SETUP */
#s3 h2 {
  font-family: bilbo, cursive;
  font-size: 24px;
  font-weight: lighter;
  /* line-height: 0.35; */
  text-align: right;
  padding-top: 4.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.container {
  position: relative;
}

/* RECIPE IMAGE SETUP */
.square-pic {
  display: block;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffe0af;
  overflow: hidden;
  width: 350px;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text1 {
  /* position: absolute; */
  display: contents;
  color: #181f3a;
  /* text-align: center; */
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.blank {
  font-size: 30px;
  background-color: #fff5ec;
}

/* FOOTER SETUP */
footer {
  padding: 20px;
  width: 100vw;
  height: 50vh;
  background: url("../images/footer/footer.jpg") fixed bottom right no-repeat;
  background-size: contain;
  color: #fff5ec;
  font-size: 12px;
  /* line-height: 1.5em;
  text-align: center; */
}

/* FOOTER HEADING 1 SETUP */
footer h1 {
  font-family: bilbo, cursive;
  font-size: 45px;
  font-weight: lighter;
  color: #fff5ec;
  line-height: 0.25;
  text-align: left;
  padding-left: .5em;
}

/* LIST ITEM ELEMENT*/
li {
  /* Make bullet points disappear */
  list-style-type: none;
}

/* FOOTER ICON SETUP */
footer img {
  width: auto;
  height: 3em;
  padding: 2px;
  color: #fff5ec;
}

/* FOOTER HEADING 2 SETUP */
footer h2 {
  font-family: 'Playfair Display', serif;
  font-size: 12px;
  font-weight: lighter;
  color: #fff5ec;
  text-align: left;
  padding-left: 2em;
}

/* FOOTER TEXT SETUP */
footer p {
  padding: 0 0.75em 0 2em;
  font-size: 14px;
  line-height: 1.2;
}

/* FOOTER WRAP SETUP */
#top-footer {
  width: 300px;
  height: auto;
}

#bottom-left-footer {
  width: 100vw;
  height: 25px;
  position: relative;
  top: 11em;
}

#bottom-right-footer {
  width: 100vw;
  height: 25px;
  position: relative;
  top: 8em;
  left: 64em;
}