@import 'https://fonts.googleapis.com/css?family=Passion+One|Poiret+One';
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');

/* font: Passion One, Poiret One, Libre Baskerville */
/* "1C1C26","FFFFFF","4CC5FF","AF00F2","EB85FC" */
/*  black,   white,   blue,   purple, light purple */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: #AF00F2;
  font-family: "libre baskerville", "Times New Roman", georgia, serif;
  font-size: 16px;
}

section.header_lrg {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  height: auto;
  background: #1C1C26;
}

.header_lrg header {
  text-align: center;
  color: #FFFFFF;
}

.header_lrg h2 {
  font-family: 'Poiret One', cursive;
  font-size: 3em;
  line-height: 1.2em;
  text-transform: inherit;
  color: #EB85FC;
  font-weight: normal;
}

.header_lrg h1 {
  font-family: 'Passion One', cursive;
  font-size: 6em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: normal;
}

section.link nav {
  background-color: #4CC5FF;
}

section.link nav a:link {
  padding: 20px;
  background-color: #4CC5FF;
  display: inline-block;
  color: #FFFFFF;
}

section.link nav a:visited {
  color: #1C1C26;
}

section.link nav a:hover {
  background-color: #1C1C26;
  color: #4CC5FF;
}

section.text1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center, baseline;
  /* min-height: 70vh; */
  height: auto;
  background: #AF00F2;
  padding: 2.5em;
  justify-content: space-between;
  justify-content: space-around;
  padding: 3.5em 1em;
}

section.text1 article {
  background: #1C1C26;
  padding: 2.5em;
  width: 30%;
}

section.text1 h2 {
  font-family: "Poiret One", cursive;
  font-size: 2em;
  text-transform: capitalize;
  font-weight: normal;
  color: #EB85FC;
}

section.text1 h1 {
  font-family: 'Passion One', cursive;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: normal;
  color: #FFFFFF;
}

section.text1 p {
  font-family: "libre baskerville", arial, verdana, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1em;
  color: #4CC5FF;
}

section.text2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  min-height: 70vh;
  height: auto;
  background: #AF00F2;
  /* padding: 2.5em; */
  padding: 3.5em 1em;
  justify-content: space-between;
  justify-content: space-around;
}

section.text2 article {
  background: #1C1C26;
  padding: 2.5em;
  width: 50%;
}

section.text2 h2 {
  font-family: "Poiret One", cursive;
  font-size: 2em;
  text-transform: capitalize;
  font-weight: normal;
  color: #EB85FC;
  line-height: 2em;
}

section.text2 h1 {
  font-family: 'Passion One', cursive;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: normal;
  color: #FFFFFF;
}

section.text2 p {
  font-family: "libre baskerville", arial, verdana, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1em;
  color: #4CC5FF;
}

section.text2 a:link {
  padding: 20px;
  /* background-color: #4CC5FF; */
  display: inline-block;
  color: #FFFFFF;
}

section.text2 a:visited {
  color: #EB85FC;
}

/* section.text2 a:hover {
  background-color: #1C1C26;
  color: #4CC5FF;
} */
footer {
  background-color: #4CC5FF;
  color: #FFFFFF;
  padding: 20px;
  font-family: "libre baskerville", georgia, times, serif;
  font-style: italic;
  font-size: 14px;
}

/* #mainlogo {
  position: absolute;
  left: 2em;
  top:2em;
  width:50px;
} */